<?xml version="1.0"?>
<config>
    <modules>
        <Powerbody_Ingredients>
            <version>0.1.1</version>
        </Powerbody_Ingredients>
    </modules>
    <global>
        <helpers>
            <ingredients>
                <class>Powerbody_Ingredients_Helper</class>
            </ingredients>
        </helpers>
        <blocks>
            <ingredients>
                <class>Powerbody_Ingredients_Block</class>
            </ingredients>
        </blocks>
        <models>
            <ingredients>
                <class>Powerbody_Ingredients_Model</class>
                <resourceModel>ingredients_mysql4</resourceModel>
            </ingredients>
            <ingredients_mysql4>
                <class>Powerbody_Ingredients_Model_Mysql4</class>
                <entities>
                    <product_label>
                        <table>ingredients_product_label</table>
                    </product_label>
                </entities>
            </ingredients_mysql4>
        </models>
        <resources>
            <ingredients_setup>
                <setup>
                    <module>Powerbody_Ingredients</module>
                </setup>
            </ingredients_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ingredients>
                <use>standard</use>
                <args>
                    <module>Powerbody_Ingredients</module>
                    <frontName>ingredients</frontName>
                </args>
            </ingredients>
        </routers>
    </frontend>
</config>