<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Powerbody_Adminhtml>
            <version>0.0.1</version>
        </Powerbody_Adminhtml>
    </modules>
    <global>
        <blocks>
            <powerbody_adminhtml>
                <class>Powerbody_Adminhtml_Block</class>
            </powerbody_adminhtml>
        </blocks>
        <helpers>
            <powerbody_adminhtml>
                <class>Powerbody_Adminhtml_Helper</class>
            </powerbody_adminhtml>
        </helpers>
        <models>
            <powerbody_adminhtml>
                <class>Powerbody_Adminhtml_Model</class>
            </powerbody_adminhtml>
        </models>
    </global>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>local</default>
                </theme>
            </design>
        </admin>
    </stores>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <powerbody_adminhtml>
                        <class>powerbody_adminhtml/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </powerbody_adminhtml>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <powerbody_adminhtml>
                        <class>powerbody_adminhtml/observer</class>
                        <method>onEavLoadBefore</method>
                    </powerbody_adminhtml>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>
