.vagrant
.idea
/app/code/core

/app/code/community/**
!/app/code/community/OrganicInternet
!/app/code/community/OrganicInternet/**

/app/code/local/**
!/app/code/local/Powerbody
!/app/code/local/Powerbody/**

/app/design/install

/app/design/adminhtml/default/default/layout/**
!/app/design/adminhtml/default/default/layout/bridge.xml
!/app/design/adminhtml/default/default/layout/category.xml
!/app/design/adminhtml/default/default/layout/manufacturer.xml

/app/design/adminhtml/default/default/locale

/app/design/adminhtml/default/default/template/**
!/app/design/adminhtml/default/default/template/adminhtml
!/app/design/adminhtml/default/default/template/adminhtml/**
!/app/design/adminhtml/default/default/template/bridge
!/app/design/adminhtml/default/default/template/bridge/**
!/app/design/adminhtml/default/default/template/manufacturer
!/app/design/adminhtml/default/default/template/manufacturer/**

/app/design/frontend/base/default/etc
/app/design/frontend/base/default/layout/**
!/app/design/frontend/base/default/layout/simpleconfigurableproducts.xml

/app/design/frontend/base/default/template/**
!/app/design/frontend/base/default/template/catalog
/app/design/frontend/base/default/template/catalog/**
!/app/design/frontend/base/default/template/catalog/product
/app/design/frontend/base/default/template/catalog/product/**
!/app/design/frontend/base/default/template/catalog/product/view
/app/design/frontend/base/default/template/catalog/product/view/**
!/app/design/frontend/base/default/template/catalog/product/view/scpajaxoptions.phtml
!/app/design/frontend/base/default/template/catalog/product/view/scpoptions.phtml
!/app/design/frontend/base/default/template/catalog/product/view/options
/app/design/frontend/base/default/template/catalog/product/view/options/**
!/app/design/frontend/base/default/template/catalog/product/view/options/scpwrapper.phtml
!/app/design/frontend/base/default/template/page
/app/design/frontend/base/default/template/page/**
!/app/design/frontend/base/default/template/page/scpcontentonly.phtml
!/app/design/frontend/base/default/template/sales
/app/design/frontend/base/default/template/sales/**
!/app/design/frontend/base/default/template/sales/reorder
/app/design/frontend/base/default/template/sales/reorder/**
!/app/design/frontend/base/default/template/sales/reorder/scpsidebar.phtml

/app/design/frontend/default/

/app/etc/**
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Organic*
!/app/etc/modules/Powerbody*

/app/locale/

/js/**
!/js/jquery/
!/js/jquery/*
!/js/jsalert
!/js/jsalert/*

/lib/**
!/lib/Dropshipping
!/lib/Dropshipping/*

/skin/adminhtml/default/default/**
!/skin/adminhtml/default/default/css
!/skin/adminhtml/default/default/css/bridge*
!/skin/adminhtml/default/default/css/default*
!/skin/adminhtml/default/default/js
!/skin/adminhtml/default/default/js/bridge*

/skin/frontend/default
/skin/frontend/base/default/**
!/skin/frontend/base/default/images/
!/skin/frontend/base/default/js/
/skin/frontend/base/default/images/*
!/skin/frontend/base/default/images/scp-ajax*
/skin/frontend/base/default/js/*
!/skin/frontend/base/default/js/scp_product_extension.js

/skin/install/

/app/.htaccess
/app/Mage.php
/downloader
/errors
/includes
/media
/pkginfo
/shell
/var
/.htaccess
/api.php
/cron.*
/favicon.ico
/get.php
/index.php*
/install.php
/LICENSE*
/mage
/powerbodybridge.tar.gz
/php.ini.sample
/RELEASE_NOTES.txt
/Vagrantfile
