<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Powerbody_Bridge>
            <version>1.1.6</version>
        </Powerbody_Bridge>
    </modules>
    <global>
        <helpers>
            <bridge>
                <class>Powerbody_Bridge_Helper</class>
            </bridge>
        </helpers>
        <blocks>
            <bridge>
                <class>Powerbody_Bridge_Block</class>
            </bridge>
        </blocks>
        <models>
            <bridge>
                <class>Powerbody_Bridge_Model</class>
                <resourceModel>bridge_mysql4</resourceModel>
            </bridge>
            <bridge_mysql4>
                <class>Powerbody_Bridge_Model_Mysql4</class>
                <entities>
                    <request>
                        <table>bridge_request</table>
                    </request>
                    <service_log>
                        <table>bridge_service_log</table>
                    </service_log>
                    <request_connector>
                        <table>bridge_request_connector</table>
                    </request_connector>
                    <sync_log>
                        <table>bridge_sync_log</table>
                    </sync_log>
                    <imported_category>
                        <table>bridge_imported_category</table>
                    </imported_category>
                    <imported_manufacturer>
                        <table>bridge_imported_manufacturer</table>
                    </imported_manufacturer>
                    <order_transfer_status>
                        <table>bridge_order_transfer_status</table>
                    </order_transfer_status>
                </entities>
            </bridge_mysql4>
            <catalog>
                <rewrite>
                    <product_attribute_backend_startdate>Powerbody_Bridge_Model_Catalog_Product_Attribute_Backend_Startdate</product_attribute_backend_startdate>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <bridge_setup>
                <setup>
                    <module>Powerbody_Bridge</module>
                </setup>
            </bridge_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <bridge>
                <use>admin</use>
                <args>
                    <module>Powerbody_Bridge</module>
                    <frontName>bridge</frontName>
                </args>
            </bridge>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bridge>
                    <file>bridge.xml</file>
                </bridge>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <import_full>
                <schedule>
                    <cron_expr>0 */3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/importer::importAttributesAndProducts</model>
                </run>
            </import_full>
            <import_stocks>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/importer::importStocks</model>
                </run>
            </import_stocks>
            <import_prices>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/importer::importPrices</model>
                </run>
            </import_prices>
            <create_dropshipping_orders>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/cron::createDropshippingOrders</model>
                </run>
            </create_dropshipping_orders>
            <update_dropshipping_orders>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/order_cron::updateDropshippingOrders</model>
                </run>
            </update_dropshipping_orders>
            <compare_versions>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bridge/cron_version::notifyAdminIfBridgeIsOutdated</model>
                </run>
            </compare_versions>
        </jobs>
    </crontab>
    <default>
        <bridge_settings>
            <basic_bridge_settings>
                <enable>0</enable>
                <number_of_hours_since_last_change_products>24</number_of_hours_since_last_change_products>
            </basic_bridge_settings>
            <service_bridge_settings>
                <default_wsdl_url>http://www.paker.co.uk/index.php/api/soap/?wsdl</default_wsdl_url>
            </service_bridge_settings>
            <price_settings>
                <price_currency_rate>5.65</price_currency_rate>
            </price_settings>
            <ingredients>
                <labels_default_host>http://www.powerbody.co.uk.dev/</labels_default_host>
            </ingredients>
            <dropshipping>
                <available_order_statuses_to_powerbody_create_order>complete</available_order_statuses_to_powerbody_create_order>
                <active_order_statuses_to_powerbody_update_order>processing,pending_payment,payment_review,fraud,pending,holded,paypal_reversed,paypal_canceled_reversal,pending_paypal</active_order_statuses_to_powerbody_update_order>
            </dropshipping>
        </bridge_settings>
    </default>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <add_order_to_bridge_order_transfer_status>
                        <class>bridge/observer</class>
                        <method>addOrderToBridgeOrderTransferStatus</method>
                    </add_order_to_bridge_order_transfer_status>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
</config>
