<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Powerbody_Manufacturer>
            <version>0.0.7</version>
        </Powerbody_Manufacturer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Advox_Manufacturer after="Mage_Adminhtml">Powerbody_Manufacturer</Advox_Manufacturer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <clean_catalog_images_cache_after>
                <observers>
                    <clear_manufacturer_cache_images>
                        <type>singleton</type>
                        <class>manufacturer/event_manufacturer_observer</class>
                        <method>clearManufacturerImageCache</method>
                    </clear_manufacturer_cache_images>
                </observers>
            </clean_catalog_images_cache_after>
            <admin_system_config_changed_section_catalog>
                <observers>
                    <update_product_margin>
                        <class>manufacturer/event_product_observer</class>
                        <method>updateProductMargin</method>
                    </update_product_margin>
                </observers>
            </admin_system_config_changed_section_catalog>
        </events>
        <layout>
            <updates>
                <manufacturer>
                    <file>manufacturer.xml</file>
                </manufacturer>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <manufacturer>
                <use>standard</use>
                <args>
                    <module>Powerbody_Manufacturer</module>
                    <frontName>manufacturer</frontName>
                </args>
            </manufacturer>
        </routers>
        <layout>
            <updates>
                <manufacturer>
                    <file>manufacturer.xml</file>
                </manufacturer>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <manufacturer_controller_action_predispatch_check_session>
                        <type>singleton</type>
                        <class>manufacturer/event_manufacturer_observer</class>
                        <method>checkSession</method>
                    </manufacturer_controller_action_predispatch_check_session>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <global>
        <blocks>
            <manufacturer>
                <class>Powerbody_Manufacturer_Block</class>
            </manufacturer>
        </blocks>
        <events>
            <controller_front_init_routers>
                <observers>
                    <controller_front_init_routers_manufacturer>
                        <type>singleton</type>
                        <class>manufacturer/event_manufacturer_observer</class>
                        <method>changeManufacturerRoute</method>
                    </controller_front_init_routers_manufacturer>
                </observers>
            </controller_front_init_routers>
            <catalog_product_load_after>
                <observers>
                    <load_product_manufacturers>
                        <type>singleton</type>
                        <class>manufacturer/event_product_observer</class>
                        <method>loadProductManufacturerIds</method>
                    </load_product_manufacturers>
                </observers>
            </catalog_product_load_after>
            <catalog_product_save_after>
                <observers>
                    <save_product_manufacturers>
                        <type>singleton</type>
                        <class>manufacturer/event_product_observer</class>
                        <method>saveProductManufacturerIds</method>
                    </save_product_manufacturers>
                </observers>
            </catalog_product_save_after>
        </events>
        <helpers>
            <manufacturer>
                <class>Powerbody_Manufacturer_Helper</class>
            </manufacturer>
        </helpers>
        <models>
            <manufacturer>
                <class>Powerbody_Manufacturer_Model</class>
                <resourceModel>manufacturer_mysql4</resourceModel>
            </manufacturer>
            <manufacturer_mysql4>
                <class>Powerbody_Manufacturer_Model_Mysql4</class>
                <entities>
                    <manufacturer>
                        <table>manufacturer</table>
                    </manufacturer>
                    <product>
                        <table>manufacturer_product</table>
                    </product>
                    <manufacturer_store>
                        <table>manufacturer_store</table>
                    </manufacturer_store>
                </entities>
            </manufacturer_mysql4>
        </models>
        <resources>
            <manufacturer_setup>
                <setup>
                    <module>Powerbody_Manufacturer</module>
                </setup>
            </manufacturer_setup>
        </resources>
    </global>
    <default>
        <catalog>
            <manufacturer>
                <url_prefix>brand</url_prefix>
                <url_suffix>.html</url_suffix>
                <url_format>[url_prefix]-[manufacturer_name],[manufacturer_id]</url_format>
                <minimal_margin>0</minimal_margin>
                <gbp_to_base_currency_rate>1</gbp_to_base_currency_rate>
            </manufacturer>
        </catalog>
    </default>
</config>
